<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div dir="auto" style="color:#2b2e2f;line-height:22px;margin:15px 0">Hai
        <?= $nick_email ?>
        <br><br>
        Terimakasih sudah menghubungi kami
        <br><br>
        Pertanyaan anda :
        <p style="font-style:italic">
            "
            <?= $question ?>"
        </p>
        <br>
        Jawaban Kami :
        <p>
            <?= $answer ?>
        </p>

        <br>

        <strong>Catatan :</strong><br>Informasi yang
        diberikan akan ditangani sesuai dengan Kebijakan Privasi.<br>Perlu dipahami, informasi tersebut juga akan
        diteruskan
        ke pihak yang berafiliasi dengan PT Baracipta Engineering jika diperlukan, agar dapat memberikan tanggapan yang
        sesuai.<br><a rel="noopener noreferrer" href="https://stufast.id/terms-and-conditions">Kebijakan
            Privasi</a><br><br><br>Salam hangat,<br><span class="il">Tim Stufast</span><br>
    </div>
</body>

</html>