<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verify</title>
</head>

<body style="background-color:#f3f6f9!important">
    <table style="margin-left:auto;margin-right:auto;max-width:600px">
        <thead>
            <tr>
                <th style="text-align:start!important;border:none!important">
                    <h3 style="font-family:sans-serif;font-style:normal;font-weight:700;font-size:24px"><b>Perminataan
                            Reset Password</b></h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color:white;border-radius:10px!important">

                <th
                    style="text-align:start!important;padding-left:1.25rem!important;padding-right:1.25rem!important;border-bottom-width:0!important;border-radius:8px!important">
                    <div>
                        <img src="https://lms.lazy2.codes/image/email/logo.png" width="130px" alt="" class="CToWUd"
                            data-bit="iit"> <br>
                        <p
                            style="font-family: sans-serif;font-style: normal;font-weight: 400;font-size: 16px;color: #000000;">
                            <b>Halo
                                <?= $email ?> 👋
                            </b>
                        </p>
                        <p
                            style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000">
                            Masukkan kode One Time Password (OTP) berikut untuk melakukan reset password</p>
                        <div>
                            <p
                                style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;font-size:22px;letter-spacing:7px;border-radius:7px;width:min-content;border:1px solid black;display:block;margin-left:auto;margin-right:auto;padding-left:3rem!important;padding-right:3rem!important;padding-top:1rem!important;padding-bottom:1rem!important">
                                <b>
                                    <?= $otp ?>
                                </b>
                            </p>
                        </div>
                    </div>
                    <div style="margin-top:1.5rem!important">
                        <p
                            style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;color:#9b9b9b">
                            Catatan:</p>
                        <p
                            style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;color:#9b9b9b">
                            Kode diatas berlaku selama 5 menit. Harap tidak menyebarkan kode kepada
                            siapapun
                            demi
                            menjaga keamanan akun.</p>
                    </div>
                    <div style="text-align:center">
                        <hr style="height:1px;border:none;background-color:#adadad">
                        <img src="https://lms.lazy2.codes/image/email/logo_bnw.png" width="80px" alt="" class="CToWUd"
                            data-bit="iit">
                    </div>
                </th>
            </tr>
            <tr>
                <th style="text-align:center;text-align:start!important;border:none!important">
                    <p
                        style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;text-align:center;font-weight:500">
                        Butuh bantuan? Silahkan hubungi <a href="#m_3972116600508049154_">support@tender.com</a></p>
                    <p
                        style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;text-align:center;color:#9b9b9b">
                        Copyright © 2022. All Rights Reserved</p>
                </th>
            </tr>
        </tbody>
    </table>
</body>

</html>