<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verify</title>
</head>

<body style="background-color:#f3f6f9!important">
    <table style="margin-left:auto;margin-right:auto;max-width:600px">
        <thead>
            <tr>
                <th style="text-align:start!important;border:none!important">
                    <h3 style="font-family:sans-serif;font-style:normal;font-weight:700;font-size:24px"><b>Pembayaran
                            kamu berhasil dan pesanan selesai!</b></h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color:white;border-radius:10px!important">

                <th
                    style="padding-left:1.25rem!important;padding-right:1.25rem!important;text-align:start!important;border-bottom-width:0!important;border-radius:8px!important">
                    <div style="margin-top:0.5rem!important">
                        <img src="https://stufast.id/image/email/Logo.png" width="60px" alt="" class="CToWUd"
                            data-bit="iit"> <br><br>
                        <p
                            style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000">
                            Selamat! pembayaran kamu berhasil. Sekarang kamu dapat mengakses course
                            yang kamu sudah beli
                            dan sudah siap unuk belajar</p>
                        <div style="padding:1.5rem;background-color:#f7f7f7;margin-top:1rem!important">
                            <table
                                style="display:block;margin-left:auto;margin-right:auto;max-width:600px;border-collapse:collapse;table-layout: fixed;">
                                <tbody style="width: 100%;vertical-align: baseline;">
                                    <tr
                                        style="background-color:white;background-color:#f7f7f7!important;border-radius:10px!important;">
                                        <td style="width:65%">
                                            <p
                                                style="margin:0!important;background-color:#f7f7f7;font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#9b9b9b;line-height:30px">
                                                <b>Nomor Invoice</b>
                                            </p>
                                        </td>
                                        <td>
                                            <p
                                                style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;margin:0!important">
                                                <?= $order_id ?>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="background-color:#f7f7f7!important">
                                        <td style="width:65%">
                                            <p
                                                style="margin:0!important;background-color:#f7f7f7;font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#9b9b9b;line-height:30px">
                                                <b>Tanggal Checkout</b>
                                            </p>
                                        </td>
                                        <td style="display:flex;width:150px">
                                            <p
                                                style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;margin:0!important;word-wrap:break-word;width:100%;">
                                                <?= $checkout_date ?>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="background-color:#f7f7f7!important">
                                        <td style="width:65%">
                                            <p
                                                style="margin:0!important;background-color:#f7f7f7;font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#9b9b9b;line-height:30px">
                                                <b>Tanggal Pembayaran</b>
                                            </p>
                                        </td>
                                        <td style="display:flex;width:150px">
                                            <p
                                                style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;margin:0!important;word-wrap:break-word;width:100%;">
                                                <?= $transaction_time ?>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="background-color:#f7f7f7!important">
                                        <td style="width:65%">
                                            <p
                                                style="margin:0!important;background-color:#f7f7f7;font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#9b9b9b;line-height:30px">
                                                <b>Jenis Pembayaran</b>
                                            </p>
                                        </td>
                                        <td style="display:flex;width:150px">
                                            <p
                                                style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;margin:0!important;word-wrap:break-word;width:100%;">
                                                <?= $payment_type ?>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr style="height:1px;border:none;margin:1em 0;background-color:#dfdfdf">
                        <div style="margin-top:1rem!important;padding-left:0.5em">
                            <?php if ($getCourse != NULL) { ?>
                            <table
                                style="display:block;margin-left:auto;margin-right:auto;max-width:600px;border-collapse:collapse">
                                <tbody>
                                    <tr style="border-radius:10px!important;background-color:white">
                                        <td style="min-width:150px">
                                            <?php foreach($getCourse as $value) { ?>
                                            <p
                                                style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;margin-top:0!important;margin-bottom: 0px !important;">
                                                <b>
                                                    <?php echo $value['title']; ?>
                                                </b>
                                            </p>
                                            <br>
                                            <?php } ?>
                                        </td>
                                        <td style="width:75%">
                                            <?php foreach($getCourse as $value) { ?>
                                            <p
                                                style="font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;font-style:normal;font-weight:600;font-size:16px;color:#000000;margin:0!important;text-align:right">
                                                <?php
                                                            helper('number');
                                                            echo number_to_currency($value['new_price'], 'IDR', 'id_ID', 2);
                                                        ?>
                                            </p>
                                            <br>
                                            <?php } ?>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <?php } ?>

                            <?php if ($getBundling != NULL) { ?>
                            <table
                                style="display:block;margin-left:auto;margin-right:auto;max-width:600px;border-collapse:collapse">
                                <tbody>
                                    <tr style="border-radius:10px!important;background-color:white">
                                        <td style="min-width:150px">
                                            <?php foreach($getBundling as $value) { ?>
                                            <p
                                                style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;margin-top:0!important;margin-bottom: 0px !important;">
                                                <b>
                                                    <?php echo $value['title']; ?>
                                                </b>
                                            </p>
                                            <br>
                                            <?php } ?>
                                        </td>
                                        <td style="width:75%">
                                            <?php foreach($getBundling as $value) { ?>
                                            <p
                                                style="font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;font-style:normal;font-weight:600;font-size:16px;color:#000000;margin:0!important;text-align:right">
                                                <?php
                                                            helper('number');
                                                            echo number_to_currency($value['new_price'], 'IDR', 'id_ID', 2);
                                                        ?>
                                            </p>
                                            <br>
                                            <?php } ?>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <?php } ?>
                        </div>
                        <hr style="height:1px;border:none;margin:1em 0;background-color:#dfdfdf">
                        <table style="max-width:600px;display:block;margin-left:auto;margin-right:auto;width:100%">
                            <tbody>
                                <tr style="background-color:white;border-radius:10px!important">
                                    <td style="min-width:150px">
                                        <p
                                            style="margin:0!important;padding-bottom:0.5em;font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;line-height:30px">
                                            Total Harga Barang
                                        </p>
                                    </td>
                                    <td style="width:75%">
                                        <p
                                            style="padding-bottom:0.5em;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;font-style:normal;font-weight:500;font-size:16px;color:#000000;margin:0!important;text-align:right">
                                            <?php
                                                helper('number');
                                                echo number_to_currency($sub_total, 'IDR', 'id_ID', 2); 
                                            ?>
                                        </p>
                                    </td>
                                </tr>
                                <tr style="background-color:white;border-radius:10px!important">
                                    <td style="min-width:150px">
                                        <p
                                            style="padding-bottom:0.5em;margin:0!important;font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;line-height:30px">
                                            Potongan Harga
                                        </p>
                                    </td>
                                    <td style="width:75%">
                                        <p
                                            style="padding-bottom:0.5em;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;font-style:normal;font-weight:600;font-size:16px;color:#000000;margin:0!important;text-align:right">
                                            <?php 
                                                if($discount_price==NULL) {
                                                    echo "-";
                                                }else if ($discount_price!=NULL){
                                                    echo "$discount_price", "%";
                                                }
                                            ?>
                                        </p>
                                    </td>
                                </tr>
                                <!-- <tr style="background-color:white;border-radius:10px!important">
                                    <td style="min-width:150px">
                                        <p
                                            style="padding-bottom:0.5em;margin:0!important;font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;line-height:30px">
                                            Platform Fee
                                        </p>
                                    </td>
                                    <td style="width:75%">
                                        <p
                                            style="padding-bottom:0.5em;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;font-style:normal;font-weight:600;font-size:16px;color:#000000;margin:0!important;text-align:right">
                                            Rp. 10.000
                                        </p>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                        <hr style="height:1px;border:none;background-color:#d6d6d6">
                        <table style="max-width:600px;display:block;margin-left:auto;margin-right:auto;width:100%">
                            <tbody>
                                <tr style="background-color:white;border-radius:10px!important">
                                    <td style="min-width:150px">
                                        <p
                                            style="margin:0!important;padding-bottom:0.5em;font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;line-height:30px">
                                            <b>Total Harga Barang</b>
                                        </p>
                                    </td>
                                    <td style="width:75%">
                                        <p
                                            style="color:#db3232;padding-bottom:0.5em;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;font-style:normal;font-weight:600;font-size:16px;margin:0!important;text-align:right">
                                            <b>
                                                <?php
                                                    helper('number');
                                                    echo number_to_currency($total, 'IDR', 'id_ID', 2); 
                                                ?>
                                            </b>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align:center">
                        <hr style="height:1px;border:none;background-color:#adadad">
                        <img src="https://stufast.id/image/email/Logo_bnw.png" width="60px" alt="" class="CToWUd"
                            data-bit="iit">
                    </div>
                </th>
            </tr>
            <tr>
                <th style="text-align:center;border:none!important">
                    <br>
                    <p
                        style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;font-weight:500;margin-bottom:1rem!important">
                        Butuh bantuan? Silahkan hubungi <a href="#m_-1583806623875441133_">support@tender.com</a></p>
                    <p
                        style="font-family:sans-serif;font-style:normal;font-weight:400;font-size:16px;color:#000000;color:#9b9b9b">
                        Copyright © 2022. All Rights Reserved</p>
                </th>
            </tr>
        </tbody>
    </table>
</body>

</html>