@import '_base';

html {
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', 'sans-serif';
}

body {
    font-family: 'Plus Jakarta Sans', 'sans-serif';
}

button {
    border: none;
    font-family: 'Plus Jakarta Sans', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold
}

.app-btn {
    background-color: $color-primary;
    color: $color-white;
    padding: .7rem 1.2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: .9rem;
    white-space: nowrap;

    &:hover {
        background-color: $color-secondary;
    }
}

.app-btn-secondary {
    background-color: $color-secondary;

    &:hover {
        background-color: $color-primary;
    }
}

.btn-full {
    width: 100%;
}

.button-secondary {
    background-color: $color-white;
    color: $color-primary;
    padding: .55rem .9rem;
    border-radius: .4rem;
    border: 1px solid $color-primary;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}

.form-control {
    font-family: 'Plus Jakarta Sans', 'sans-serif';

    &:focus {
        box-shadow: none;
        border-color: $color-primary;
    }
}

.main-container{
    padding-left: $padding-container;
    padding-right: $padding-container;
}

.breadcrumb-anchor {
    color: $color-primary;
    font-weight: 600;
}

.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.card-course {
    @include card-setting();
    padding: .8rem;

    .image {
        position: relative;

        img {
            width: 100%;
            margin-bottom: 1rem;
            object-fit: contain;
            border-radius: $card-border-radius;
            border: 1px solid $color-gray !important;
        }

        .card-course-tags {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-wrap: wrap;
            padding: .5rem;
            gap: .5rem;

            .item {
                padding: .1rem .5rem;
                border-radius: .65rem;
                background-color: $color-yellow;
                color: $color-black;
                cursor: pointer;
                font-size: .8rem;
                font-weight: 500;
            }
        }

        .card-course-duration {
            position: absolute;
            bottom: 1.8rem;
            left: .5rem;
            background-color: $color-gray-2;
            opacity: .8;
            font-weight: 500;
            font-size: .8rem;
            padding: .2rem .5rem;
            border-radius: .4rem;
        }
    }

    .body {
        h2 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1.5rem;
        }



        .harga {
            font-size: 1.25rem;
            font-weight: bold;
            color: $color-primary;

            del {
                font-size: 1rem;
                font-weight: normal;
                color: $color-gray-1;
                margin-right: .5rem;
            }
        }

        .star-container {
            .stars {
                --percent: calc(var(--rating) / 5 * 100%);
        
                display: inline-block;
                font-size: 1.4rem;
                font-family: Times;
                line-height: 1;
        
                &::before {
                    content: '★★★★★';
                    letter-spacing: 3px;
                    background: linear-gradient(90deg, $color-star var(--percent), $color-white var(--percent));
                    -webkit-background-clip: text;
                    background-clip: $color-yellow;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1px $color-star;
                }
            }
        }
    }

    .card-course-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;

        a:first-child {
            flex: 1;
        }
    }
}

.card-webinar {
    @include card-setting();
    padding: .8rem;

    .image img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-radius: $card-border-radius;
        border: 1px solid $color-gray;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .item-info {
        display: flex;
        gap: .2rem;
        margin-bottom: .5rem;
        align-items: center;
        color: $color-gray-1;

        i {
            min-width: 1.4rem;
        }

        p {
            font-size: .8rem;
            margin: 0;
        }
    }

    .price {
        display: flex;
        gap: .5rem;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        del {
            font-size: .9rem;
            color: $color-gray-1;
        }

        .harga {
            font-size: 1.2rem;
            font-weight: bolder;
            color: $color-yellow;
        }
    }
}

.card-training {
    @include card-setting();
    padding: .8rem;

    .thumbnail {
        img {
            width: 100%;
            height: 10rem;
            object-fit: cover;
            border-radius: $card-border-radius;
            border: 1px solid $color-gray;
            margin-bottom: .8rem;
        }
    }

    .title {
        h2 {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: .8rem;
        }
    }

    .body {
        .info {
            color: $color-gray-1;
            font-size: .9rem;
        }
    }

    .price {
        font-size: 1.25rem;
        font-weight: bold;
        color: $color-primary;
    }
}

.card-author {
    @include card-setting();
    padding: 2rem;

    .profile {
        text-align: center;
        margin-bottom: 1rem;
    }

    .profile img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
        margin: auto;
    }

    .info {
        text-align: center;
        margin-bottom: 1.2rem;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0.2rem;
            font-weight: bold;
        }

        p {
            font-size: 1rem;
            margin: 0;
        }
    }

    .star-container {
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h2 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .stars {
        --percent: calc(var(--rating) / 5 * 100%);

        display: inline-block;
        font-size: 2rem;
        font-family: Times; // make sure ★ appears correctly
        line-height: 1;

        &::before {
            content: '★★★★★';
            letter-spacing: 3px;
            background: linear-gradient(90deg, $color-star var(--percent), $color-white var(--percent));
            -webkit-background-clip: text;
            background-clip: $color-yellow;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px $color-star;
        }
    }

    .sosmed {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        margin-top: .8rem;
        align-items: center;
        font-size: 1.2rem;

        img {
            width: 1rem;
        }
    }
}

.my-btn {
    background-color: $color-primary;
    color: $color-white;
    padding: .5rem 1rem;
    min-width: 110px;
    border-radius: .4rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

.btn-full {
    width: 100%;
}

a {
    text-decoration: none;
    color: $color-black;
}

a:hover {
    color: $color-black
}

.my-container {
    padding-left: $padding-container;
    padding-right: $padding-container;
}

main {
    min-height: 80vh;
    padding-bottom: 6rem;

    .navigation {


        p {
            font-weight: 600;

            a {
                color: #bdbdbd;
            }

            .sub-nav {
                color: #164520;
            }
        }

    }
}

.bg-gray {
    background-color: $color-gray-2;
}

// navbar
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $color-white;
    font-size: 1rem;

    .navbar-brand {
        margin-right: 2rem;

        img {
            height: 46px;
            width: auto;
            object-fit: contain;
        }
    }

    .nav-profile {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px .5px 4px 2.5px rgba(0, 0, 0, 0.1);
    }

    .dropdown-toggle::after {
        font-size: 1.5rem;
        vertical-align: .1rem;
    }

    .nav-btn-profile {
        border: none;
        padding: 0;
        background-color: $color-white;
    }

    .nav-item-profile {
        font-size: .8rem;
    }

    .nav-item-profile .dropdown-menu[data-bs-popper] {
        left: -100px;
    }

    .nav-btn-icon {
        border: none;
        background-color: $color-white;
        border: 1px solid $color-gray-2;
        border-radius: .5rem;
        padding: .8rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $color-gray-2;
        }

        img {
            height: 1rem;
            width: 1rem;
            object-fit: contain;
        }
    }

    .nav-btn-icon-amount {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px;
        width: 18px;
        background-color: $color-yellow;
        border-radius: 50%;
        color: $color-black;
        top: -5px;
        right: -5px;
        font-size: 10px;
        font-weight: bold;
    }

    .nav-item-icon .dropdown-menu[data-bs-popper] {
        right: 0;
        left: auto;
    }

    .nav-item-search .nav-btn-icon {
        color: $color-gray;
    }

    .nav-item-search {
        position: relative;

        .nav-search-input {
            position: relative;
            min-width: 20rem;

            input {
                padding-right: 25px;
                padding-top: .48rem;
                padding-bottom: .48rem;
            }

            input:focus {
                box-shadow: none;
            }

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                cursor: pointer;
            }
        }

        .dropdown-menu {
            right: 0;
            height: 24rem;
            padding-top: 0;
            font-size: .8rem;
            overflow-y: auto;
            // width: 25rem;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-gray-1;
                border-radius: 20px;
            }

            h5 {
                font-size: .8rem;
            }

            .ctg {
                color: $color-gray-1;
            }

            .search-item {
                display: flex;
                gap: 1rem;
                padding: .5rem .2rem;
                align-items: center;

                &:hover {
                    background-color: $color-gray-2;
                }
            }

            .icon {
                img {
                    width: 3rem;
                    object-fit: contain;
                    border-radius: 4px;
                }
            }

            .desc {

                h5,
                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .nav-item-icon {
        .notifications {
            min-width: 25rem;
            height: 24rem;
            overflow: auto;
            padding-top: 0;
            font-size: .8rem;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-gray-1;
                border-radius: 20px;
            }

            h3 {
                font-size: 1.2rem;
                font-weight: bold;
            }

            .header {
                padding: .8rem .8rem;
                display: flex;
                justify-content: space-between;
            }

            .content {
                text-align: center;
                padding: 4rem 2rem
            }

            .notifications-baca {
                text-decoration: underline;
                color: $color-primary;
            }

            .notifications-list {
                .notif {
                    padding: {
                        top: .8rem;
                        bottom: 0rem;
                        left: .8rem;
                        right: .8rem;
                    }

                    &.unread {
                        background-color: $color-orange;
                    }

                    &:last-child {
                        a {
                            border-bottom: none;
                        }
                    }

                    &:hover {
                        background-color: $color-gray-2;
                    }
                }

                a {
                    display: flex;
                    gap: .8rem;
                    padding-bottom: .4rem;
                    border-bottom: 1px solid $color-gray;

                    .icon {
                        width: 3rem;

                        img {
                            width: 100%;
                        }
                    }

                    .item {
                        flex: 1;
                        padding-bottom: .8rem;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    &:hover {
                        color: $color-black;
                    }

                    span {
                        color: rgb(170, 170, 170);
                    }
                }
            }
        }
    }
}

// footer
footer {
    background-color: $color-gray-home;

    a {
        font-weight: 500;
        white-space: nowrap;

        &:hover {
            color: $color-primary;
        }
    }

    .footer-app-download {
        img {
            height: 40px;
            // width: 100%;
            object-fit: contain;
        }
    }

    .item {
        max-width: 25%;

        .app-logo {
            height: 80px;
            object-fit: contain;
        }
    }

    h2 {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .footer-link {
        display: block;
        margin-bottom: 1rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .contact-item {
        display: flex;
        gap: .8rem;

        i {
            font-size: 1rem;
        }

        p {
            font-size: 1rem;
            margin: 0;
        }
    }

    .sosmed {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        a {
            font-size: 1rem;
        }
    }
}