@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");

@mixin font($weight) {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: $weight;
}

h3,
h4,
h5 {
    @include font($weight: 600)
}

p {
    @include font($weight: 400);
    font-size: 16px;
    color: #525252;
}

main {
    .navigation {
        p {
            @include font($weight: 400);
            color: #bdbdbd;

            a {
                color: #002B5B;
                text-decoration: none;
                @include font($weight: 600)
            }
        }
    }

    .bundle {
        gap: 50px;

        .level {
            background-color: #FFD361;
            width: min-content;
            padding: 4px 13px;
            border-radius: 8px;
        }

        .left-section {
            width: 750px;

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    div {
                        align-items: center;
                        gap: 30px;

                        .course-number {
                            color: #002B5B;
                            background-color: #E6EAEF;
                            border-radius: 5px;

                            text-align: center;
                            width: 70px;
                            height: 70px;
                        }

                        .course-name {}
                    }
                }
            }
        }

        .right-section {
            .order-card {
                border-radius: 8px;
                padding: 20px;
                background-color: #F2F4F6;

                ul {
                    padding-left: 27px;
                }

                .discount-info {
                    background-color: #D8FAD7;
                    color: #2A8728;
                    border-radius: 7px;
                }

                button {
                    border: none;
                    width: 100%;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #002B5B;
                    color: white
                }
            }

        }
    }
}