@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");
html {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", "sans-serif";
}

body {
  font-family: "Plus Jakarta Sans", "sans-serif";
}

button {
  border: none;
}

.main-container {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

#cart .breadcrumb {
  font-weight: 500;
}
#cart .breadcrumb .active {
  color: #164520;
}
#cart .section-no-login {
  width: 30rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#cart .section-no-login h1 {
  font-size: 1.8rem;
}
#cart .cart-btn-remove {
  background-color: transparent;
}
#cart .cart-list table tr th:not(:first-child) {
  text-align: center;
}
#cart .cart-list table tr td {
  gap: 12px;
}
#cart .cart-list table tr td button img {
  width: 40px;
}
#cart .cart-list table tr td img {
  width: 110px;
}
#cart .cart-list table tr td .discount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 0.8rem;
  right: 0;
  top: -30px;
  color: white;
  background-color: #FFA629;
  transform: rotate(10deg);
}
#cart .cart-list table tr td .strike {
  text-decoration: line-through;
  color: #F24822;
  position: relative;
}
#cart .cart-list table tr td .price {
  text-align: center;
}
#cart .voucher-order-total #reedem-button {
  background-color: rgba(255, 255, 255, 0);
}
#cart .voucher-order-total #reedem-button img {
  width: 220px;
}
#cart .voucher-order-total #cart-form-redeem input:focus {
  box-shadow: none;
  border-color: #164520;
}
#cart .voucher-order-total .order-total div {
  gap: 100px;
}
#cart .voucher-order-total .order-total div h6 {
  font-size: 20px;
}

.reedem-menu {
  width: min-content;
}
.reedem-menu hr {
  border: 2px solid #acacac;
}
.reedem-menu h5,
.reedem-menu p {
  text-align: left;
  color: #1F1F1F;
}
.reedem-menu .reedem-menu-header h5 {
  margin-bottom: 0;
}
.reedem-menu .reedem-menu-header div {
  gap: 10px;
}
.reedem-menu .reedem-menu-header div button {
  width: auto;
  font-weight: 600;
  color: #747474;
  background-color: rgba(245, 222, 179, 0);
}
.reedem-menu .reedem-menu-header div .swal2-close {
  margin-top: -16px;
}
.reedem-menu .input-voucher-code {
  gap: 20px;
}
.reedem-menu .input-voucher-code input {
  padding-left: 1em;
  font-weight: 600;
  width: 400px;
  height: 50px;
  border-radius: 9px;
  border: 1px solid #cccccc;
  color: #000000;
}
.reedem-menu .input-voucher-code input::placeholder {
  color: #acacac;
}
.reedem-menu .input-voucher-code button {
  min-width: 90px;
  font-size: 14px;
  background-color: #164520;
  color: white;
  border-radius: 7px;
}
.reedem-menu .coupon-list {
  gap: 18px;
}
.reedem-menu .coupon-list button {
  background-color: rgba(0, 0, 0, 0);
  width: 220px;
  height: 45px;
  background-image: url("../image/cart/voucher-bg.png");
  background-repeat: no-repeat;
  background-size: 225px 45px;
}
.reedem-menu .coupon-list button div {
  font-size: 18px;
  color: white;
  padding-left: 80px;
  font-weight: 600;
}
.reedem-menu .coupon-list .selected {
  border: 2px solid green;
  background-size: 212px 39px;
  background-position: center;
}

.empty-cart-info {
  width: 100%;
  height: 110px;
}
.empty-cart-info h6 {
  color: #c5c5c5;
  font-weight: 400;
}

.swal2-close:focus {
  box-shadow: none !important;
}

.hide {
  display: none;
}

/*# sourceMappingURL=cart.css.map */
