@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@mixin font($weight) {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: $weight;
}

//reedem popup utilization
@mixin redeem-popup() {
    height: 100%;
    width: max-content;
    text-align: center;

    .loading-icon {
        height: 180px;
    }

    .success-icon {
        width: 70px;
    }

    h5 {
        @include font($weight: 700);
        color: black;
        font-size: 22px;
    }

    p {
        color: #8F8585;
    }
}

h3,
h4,
h5,
h6 {
    @include font($weight: 600)
}

p {
    @include font($weight: 400);
    font-size: 16px;
    color: #262626;
    margin-bottom: 0 !important;
}

button {
    border: none !important;
    background-color: #002a5b00;
}


.redeem-loading {
    @include redeem-popup();
}

.redeem-success {
    padding-top: 50px;
    @include redeem-popup();

}

.empty-cart-info {
    width: 100%;
    height: 110px;

    h6 {
        color: #c5c5c5;
        font-weight: 400;
    }


}


// remove auto focus border in swal close button
.swal2-close:focus {
    box-shadow: none !important;
}


//hide element
.hide {
    display: none;
}

main {
    .navigation {
        p {
            @include font($weight: 400);
            color: #bdbdbd;

            a {
                color: #002B5B;
                text-decoration: none;
                @include font($weight: 600)
            }
        }
    }

    .cart-list {
        table {
            tr {
                th:not(:first-child) {
                    text-align: center;
                }

                td {
                    text-align: center;
                    gap: 12px;

                    button {
                        img {
                            width: 40px;
                        }
                    }

                    img {
                        width: 110px;
                    }

                    .discount {
                        border-radius: 70px;
                        padding-left: 2px;
                        padding-top: 7px;
                        width: 32px;
                        height: 32px;
                        color: white;
                        background-color: #FFA629;
                        font-size: 12px;
                        margin-top: -30px;
                        margin-left: 85px;
                        transform: rotate(10deg);
                        position: absolute;
                    }

                    .strike {
                        text-decoration: line-through;
                        color: #F24822;
                    }

                    .price {
                        display: inline-flex;
                    }
                }


            }
        }
    }

    .voucher-order-total {
        .voucher {
            border: 2px solid #e2e2e2;
            width: 340px;
            height: 45px;
            border-radius: 4px;

            input {
                border: none;
                height: 100%;
                border-radius: 4px 0px 0px 4px !important;
            }

            button {
                background-color: #002B5B;
                padding: 10px 30px;
                border-radius: 0px 4px 4px 0px;
                color: rgb(235, 235, 235);
            }
        }

        .order-total {

            div {
                h6 {
                    font-size: 20px
                }

                gap: 100px
            }

            button {
                padding: 12px;
                background-color: #002B5B;
                color: #e2e2e2;
                width: 100%;
                border-radius: 6px;
            }
        }
    }
}