@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@mixin font($weight) {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: $weight;
}

@mixin badge-category() {
    width: min-content;
    padding: 2px 9px;
    color: white;
    font-weight: 700;
}

h3,
h4,
h5,
h6 {
    @include font($weight: 600)
}

h5 {
    font-size: 18px;
}

p {
    @include font($weight: 400);
    font-size: 16px;
    color: #262626;
    margin-bottom: 0 !important;
}

button {
    border: none !important;
    background-color: #002a5b00;
}


//hide element
.hide {
    display: none;
}

main {
    .navigation {
        p {
            color: #164520
        }
    }

    .checkout-main {
        .order-list-section {
            .order-item {
                .order-list-detail {

                    gap: 12px;

                    img {
                        align-self: center;
                        width: 150px;
                    }

                    .order-desc {


                        p {
                            font-size: 12px;
                        }

                        .course-badge {
                            @include badge-category();
                            background-color: #A9CAFD;
                        }

                        .bundling-badge {
                            @include badge-category();
                            background-color: #F5C64C;
                        }

                        .webinar-badge {
                            @include badge-category();
                            background-color: #F2ACF3;
                        }

                        .desc {
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }

                .order-list-subtotal {
                    div {
                        font-size: 18px;
                    }

                    hr {
                        margin: 0 !important;
                    }
                }
            }
        }

        .order-summary-card {
            border-radius: 7px;
            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.247);

            .total-count-prize {
                gap: 30px
            }

            .final-prize {
                border: 1px solid #a7a7a7;
                border-radius: 7px;

                p {
                    width: min-content;
                    font-size: 12px
                }
            }

            .email {
                font-weight: 500;
            }

            .user-email {
                border: 1px solid #a7a7a7;
                background-color: #D9D9D9;
                color: #8F8585;
                border-radius: 7px;
            }

            button {
                font-weight: 600;
                color: white;
                border-radius: 7px;
                width: 100%;
                background-color: #164520;
            }
        }
    }
}