@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@mixin font($weight) {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: $weight;
}

@mixin video-list-button($bg_color, $bg_image, $drop_shadow) {
    transition: 0.2s;
    cursor: pointer;
    border-radius: 7px;
    background-color: $bg_color;
    filter: drop-shadow($drop_shadow);

    .list-title {

        width: 200px;
        gap: 10px;

        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        button {

            border-radius: 100px;
            transition: 0.5s;
            padding: 0;
            background-image: $bg_image;
            background-repeat: no-repeat;
            background-size: 40px 40px;
            width: 40px;
            height: 40px;
            min-width: 40px;

        }
    }
}

h3,
h4,
h5 {
    @include font($weight: 600)
}

p {
    @include font($weight: 400);
    font-size: 16px;
    color: #525252;
    margin-bottom: 0 !important;
}

button {
    border: none !important;
    background-color: #002a5b00;
}

.hide {
    display: none;
}


.list-active {
    @include video-list-button(#ffffff, url("../image/course-detail/pause-button.png"), 5px 2px 10px rgba(0, 0, 0, 0.233))
}


main {
    .navigation {
        p {
            @include font($weight: 400);
            color: #bdbdbd;

            a {
                color: #002B5B;
                text-decoration: none;
                @include font($weight: 600)
            }
        }
    }

    .category {
        p {
            background-color: #002B5B;
            color: white;
            width: max-content;
            padding: 6px 15px;
            border-radius: 8px;
        }
    }

    .course-content {
        gap: 30px;

        .left-side {
            width: min-content;
            // border: 1px solid black;

            iframe {
                border-radius: 10px;
            }

            .quiz-section {
                width: 727px;
                height: 400px;
                background-color: #F2F4F6;
                border-radius: 16px;

                .swiper-wrapper {
                    height: min-content;
                }

                .quiz-option-list {
                    margin: 0px 20px;
                    gap: 4%;
                    row-gap: 10px;

                    div {
                        width: 46%;
                        gap: 12px;
                        border-radius: 10px;
                        background-color: #E4E8EE;

                        input {
                            width: 18px;
                            border-radius: 0px;
                            border: 2px solid #002B5B;
                            height: 18px;
                            -webkit-appearance: none;

                        }

                        input:checked {
                            // background-color: #5c48a3;
                            background-image: url('../image/course-detail/check.png');
                            background-repeat: no-repeat;
                            background-size: 18px;
                            background-position: -2px -2px;
                        }

                        label {
                            text-align: start;
                            color: #002B5B;
                            width: 100%;
                            height: 100%;
                            padding: 16px 0px;
                        }
                    }

                    div:hover {
                        background-color: white;
                    }
                }

                .quiz-back,
                .quiz-next {}

                .progress-box {
                    box-shadow: 3px 3px 15px #888888;
                    width: 100%;
                    background-color: white;
                    border-radius: 8px;


                    #loading {
                        margin: 15px;
                        width: 490px;
                        height: 3px;
                        padding-top: 0;
                        margin-top: -10px;
                        position: relative;

                    }

                    .progressbar-text {
                        opacity: 1;
                        right: 83%;
                        border: none !important;
                        background-image: url('../image/course-detail/loading-indicator.png');
                        background-repeat: no-repeat;
                        background-size: 200px 45px;
                        width: 200px;
                        height: 50px;
                        // animation: fadeInAnimation ease 1400ms;
                        // animation-iteration-count: 1;
                        // animation-fill-mode: forwards;
                    }
                }

            }


            ul {
                li {
                    margin-right: 13px;

                    .nav-link {
                        border-radius: 13px !important;
                        background-color: #F2F4F6;
                        color: #2F3542;
                    }

                    .active {
                        color: #F2F4F6;
                        background-color: #002B5B !important;
                    }
                }
            }

            .curiculum {
                .list-box {
                    background-color: #F2F4F6;
                    // border: 1px solid black;
                    border-radius: 8px;

                    .curiculum-title {
                        border-radius: 8px 8px 0px 0px;
                        padding: 10px 20px;
                        color: white;
                        background-color: #002B5B;
                    }

                    .curiculum-list {
                        list-style: none;
                        padding-left: 0;

                        li {
                            div {
                                gap: 15px;

                                button {
                                    .lock-button {
                                        width: 40px;
                                        border-radius: 80px;
                                        padding: 5px;
                                        background-color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .project {
                .project-banner {
                    width: 720px;
                }

                .button-group {
                    div {
                        gap: 15px;

                        .start-button {
                            padding: 8px 40px;
                            border-radius: 6px;
                            background-color: #002B5B;
                            color: #D8FAD7;
                        }

                        .disable {
                            border: 1px solid #8F8F8F;
                            background-color: #B9B9B9;
                            color: #8F8F8F;
                        }

                        .play-button-project {
                            border-radius: 90px;
                            padding: 0%;

                            img {
                                width: 40px;
                                border-radius: 90px;
                            }
                        }

                    }

                    .download-button {
                        img {
                            width: 200px;
                        }
                    }
                }
            }

            .user-review {
                .review-card {
                    gap: 10px;
                    border-radius: 7px;
                    background-color: #F2F4F6;
                    height: 120px;

                    .user-image {
                        width: 80px;
                        border-radius: 7px;
                        filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.521));
                    }

                    .review-data {
                        width: 100%;
                        gap: 30px;

                        .review-description {
                            color: black !important;
                        }

                        .top-section {
                            .user-title {
                                gap: 10px;

                                h6 {
                                    color: #002B5B;
                                    @include font($weight: 600)
                                }

                                p {
                                    color: #797979;
                                }
                            }

                            .user-score {
                                gap: 10px;

                                img {
                                    width: 110px;
                                    height: 20px;
                                }
                            }


                        }
                    }
                }
            }
        }

        .right-side {
            .video-list {

                height: 400px;
                border-radius: 7px;
                background-color: #F2F4F6;

                .scrollable-video-list {
                    // padding-right: 20px;
                    height: 320px;
                    overflow: auto;

                    .list-card-button {
                        @include video-list-button(#DFE3E9, url("../image/course-detail/play-light.png"), 0);
                    }

                    .list-card-button:hover {
                        @include video-list-button(#ffffff, url("../image/course-detail/play-dark.png"), 5px 2px 10px rgba(0, 0, 0, 0.233))
                    }

                    .complete {
                        @include video-list-button(#DFE3E9, url("../image/course-detail/complete-button.png"), 0);
                    }

                    .complete:hover,
                    .list-active-complete {
                        @include video-list-button(#ffffff, url("../image/course-detail/complete-button.png"), 5px 2px 10px rgba(0, 0, 0, 0.233))
                    }

                    .buy-course {
                        background-color: #DFE3E9;
                        gap: 10px;
                        border-radius: 7px;
                    }
                }

                .scrollable-video-list::-webkit-scrollbar {
                    width: 8px;

                }

                .scrollable-video-list::-webkit-scrollbar-track {
                    background-color: #D9D9D9;
                    border-radius: 40px;
                }

                .scrollable-video-list::-webkit-scrollbar-thumb {
                    background-color: #747474;
                    border-radius: 40px;
                }
            }

            .order-card {
                border-radius: 8px;
                padding: 20px;
                background-color: #F2F4F6;

                ul {
                    padding-left: 27px;
                }

                .discount-info {
                    background-color: #D8FAD7;
                    color: #2A8728;
                    border-radius: 7px;
                }

                button {
                    font-weight: 600;
                    border: none;
                    width: 100%;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #002B5B;
                    color: white
                }

                .add-to-cart {
                    background-color: white;
                    color: black;
                    ;
                }
            }
        }
    }
}