@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
h3,
h4,
h5 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
}

p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #525252;
  margin-bottom: 0 !important;
}

button {
  border: none !important;
  background-color: rgba(0, 42, 91, 0);
}

.hide {
  display: none;
}

.list-active {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 7px;
  background-color: #ffffff;
  filter: drop-shadow(5px 2px 10px rgba(0, 0, 0, 0.233));
}
.list-active .list-title {
  width: 200px;
  gap: 10px;
}
.list-active .list-title p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list-active .list-title button {
  border-radius: 100px;
  transition: 0.5s;
  padding: 0;
  background-image: url("../image/course-detail/pause-button.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  min-width: 40px;
}

main .navigation p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  color: #bdbdbd;
}
main .navigation p a {
  color: #002B5B;
  text-decoration: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
}
main .category p {
  background-color: #002B5B;
  color: white;
  width: max-content;
  padding: 6px 15px;
  border-radius: 8px;
}
main .course-content {
  gap: 30px;
}
main .course-content .left-side {
  width: min-content;
}
main .course-content .left-side iframe {
  border-radius: 10px;
}
main .course-content .left-side ul li {
  margin-right: 13px;
}
main .course-content .left-side ul li .nav-link {
  border-radius: 13px !important;
  background-color: #F2F4F6;
  color: #2F3542;
}
main .course-content .left-side ul li .active {
  color: #F2F4F6;
  background-color: #002B5B !important;
}
main .course-content .left-side .curiculum .list-box {
  background-color: #F2F4F6;
  border-radius: 8px;
}
main .course-content .left-side .curiculum .list-box .curiculum-title {
  border-radius: 8px 8px 0px 0px;
  padding: 10px 20px;
  color: white;
  background-color: #002B5B;
}
main .course-content .left-side .curiculum .list-box .curiculum-list {
  list-style: none;
  padding-left: 0;
}
main .course-content .left-side .curiculum .list-box .curiculum-list li div {
  gap: 15px;
}
main .course-content .left-side .curiculum .list-box .curiculum-list li div button .lock-button {
  width: 40px;
  border-radius: 80px;
  padding: 5px;
  background-color: white;
}
main .course-content .left-side .project .project-banner {
  width: 720px;
}
main .course-content .left-side .project .button-group div {
  gap: 15px;
}
main .course-content .left-side .project .button-group div .start-button {
  padding: 8px 40px;
  border-radius: 6px;
  background-color: #002B5B;
  color: #D8FAD7;
}
main .course-content .left-side .project .button-group div .disable {
  border: 1px solid #8F8F8F;
  background-color: #B9B9B9;
  color: #8F8F8F;
}
main .course-content .left-side .project .button-group div .play-button-project {
  border-radius: 90px;
  padding: 0%;
}
main .course-content .left-side .project .button-group div .play-button-project img {
  width: 40px;
  border-radius: 90px;
}
main .course-content .left-side .project .button-group .download-button img {
  width: 200px;
}
main .course-content .left-side .user-review .review-card {
  gap: 10px;
  border-radius: 7px;
  background-color: #F2F4F6;
  height: 120px;
}
main .course-content .left-side .user-review .review-card .user-image {
  width: 80px;
  border-radius: 7px;
  filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.521));
}
main .course-content .left-side .user-review .review-card .review-data {
  width: 100%;
  gap: 30px;
}
main .course-content .left-side .user-review .review-card .review-data .review-description {
  color: black !important;
}
main .course-content .left-side .user-review .review-card .review-data .top-section .user-title {
  gap: 10px;
}
main .course-content .left-side .user-review .review-card .review-data .top-section .user-title h6 {
  color: #002B5B;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
}
main .course-content .left-side .user-review .review-card .review-data .top-section .user-title p {
  color: #797979;
}
main .course-content .left-side .user-review .review-card .review-data .top-section .user-score {
  gap: 10px;
}
main .course-content .left-side .user-review .review-card .review-data .top-section .user-score img {
  width: 110px;
  height: 20px;
}
main .course-content .right-side .video-list {
  height: 400px;
  border-radius: 7px;
  background-color: #F2F4F6;
}
main .course-content .right-side .video-list .scrollable-video-list {
  height: 320px;
  overflow: auto;
}
main .course-content .right-side .video-list .scrollable-video-list .list-card-button {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 7px;
  background-color: #DFE3E9;
  filter: drop-shadow(0);
}
main .course-content .right-side .video-list .scrollable-video-list .list-card-button .list-title {
  width: 200px;
  gap: 10px;
}
main .course-content .right-side .video-list .scrollable-video-list .list-card-button .list-title p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main .course-content .right-side .video-list .scrollable-video-list .list-card-button .list-title button {
  border-radius: 100px;
  transition: 0.5s;
  padding: 0;
  background-image: url("../image/course-detail/play-light.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  min-width: 40px;
}
main .course-content .right-side .video-list .scrollable-video-list .list-card-button:hover {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 7px;
  background-color: #ffffff;
  filter: drop-shadow(5px 2px 10px rgba(0, 0, 0, 0.233));
}
main .course-content .right-side .video-list .scrollable-video-list .list-card-button:hover .list-title {
  width: 200px;
  gap: 10px;
}
main .course-content .right-side .video-list .scrollable-video-list .list-card-button:hover .list-title p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main .course-content .right-side .video-list .scrollable-video-list .list-card-button:hover .list-title button {
  border-radius: 100px;
  transition: 0.5s;
  padding: 0;
  background-image: url("../image/course-detail/play-dark.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  min-width: 40px;
}
main .course-content .right-side .video-list .scrollable-video-list .complete {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 7px;
  background-color: #DFE3E9;
  filter: drop-shadow(0);
}
main .course-content .right-side .video-list .scrollable-video-list .complete .list-title {
  width: 200px;
  gap: 10px;
}
main .course-content .right-side .video-list .scrollable-video-list .complete .list-title p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main .course-content .right-side .video-list .scrollable-video-list .complete .list-title button {
  border-radius: 100px;
  transition: 0.5s;
  padding: 0;
  background-image: url("../image/course-detail/complete-button.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  min-width: 40px;
}
main .course-content .right-side .video-list .scrollable-video-list .complete:hover,
main .course-content .right-side .video-list .scrollable-video-list .list-active-complete {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 7px;
  background-color: #ffffff;
  filter: drop-shadow(5px 2px 10px rgba(0, 0, 0, 0.233));
}
main .course-content .right-side .video-list .scrollable-video-list .complete:hover .list-title,
main .course-content .right-side .video-list .scrollable-video-list .list-active-complete .list-title {
  width: 200px;
  gap: 10px;
}
main .course-content .right-side .video-list .scrollable-video-list .complete:hover .list-title p,
main .course-content .right-side .video-list .scrollable-video-list .list-active-complete .list-title p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main .course-content .right-side .video-list .scrollable-video-list .complete:hover .list-title button,
main .course-content .right-side .video-list .scrollable-video-list .list-active-complete .list-title button {
  border-radius: 100px;
  transition: 0.5s;
  padding: 0;
  background-image: url("../image/course-detail/complete-button.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  min-width: 40px;
}
main .course-content .right-side .video-list .scrollable-video-list .buy-course {
  background-color: #DFE3E9;
  gap: 10px;
  border-radius: 7px;
}
main .course-content .right-side .video-list .scrollable-video-list::-webkit-scrollbar {
  width: 8px;
}
main .course-content .right-side .video-list .scrollable-video-list::-webkit-scrollbar-track {
  background-color: #D9D9D9;
  border-radius: 40px;
}
main .course-content .right-side .video-list .scrollable-video-list::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 40px;
}
main .course-content .right-side .order-card {
  border-radius: 8px;
  padding: 20px;
  background-color: #F2F4F6;
}
main .course-content .right-side .order-card ul {
  padding-left: 27px;
}
main .course-content .right-side .order-card .discount-info {
  background-color: #D8FAD7;
  color: #2A8728;
  border-radius: 7px;
}
main .course-content .right-side .order-card button {
  font-weight: 600;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #002B5B;
  color: white;
}
main .course-content .right-side .order-card .add-to-cart {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=course-detail.css.map */
