@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");

// variables
$padding-container: 3.5rem;
$card-border-radius: 0.6rem;

$color-primary: #002B5B;
$color-white: #ffffff;
$color-btn-primary: #002B5B;
$color-pink: #FFF5FD;
$color-gray: #D9D9D9;
$color-gray-1: #9ca3af;
$color-gray-2: #ECEBF3;
$color-gray-3: #f3f4f6;
$color-yellow: #FFCB42;
$color-star: #E0D043;
$color-black: #1F1F1F;
$color-orange: #FFCB424D;
$color-blue: #0D99FF;

@mixin card-setting() {
    border-radius: $card-border-radius;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
}

@mixin title() {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

@mixin padding-container() {
    padding-left: $padding-container;
    padding-right: $padding-container;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    // font-size: 24px;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', 'sans-serif';
}

body {
    background-color: $color-white;
    margin: 0;
    font-family: 'Plus Jakarta Sans', 'sans-serif';
}

.my-btn {
    background-color: $color-btn-primary;
    color: $color-white;
    padding: .5rem 1rem;
    min-width: 110px;
    border-radius: .4rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.button-secondary {
    background-color: $color-white;
    color: $color-btn-primary;
    padding: .5rem .8rem;
    border-radius: .4rem;
    border: 1px solid $color-btn-primary;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.btn-full {
    width: 100%;
}

a {
    text-decoration: none;
    color: $color-black;
}

a:hover {
    color: $color-black
}

.my-card {
    @include card-setting();
}

.my-container {
    padding-left: $padding-container;
    padding-right: $padding-container;
}

main {
    min-height: 80vh;
}

.bg-gray {
    background-color: $color-gray-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.card-course {
    @include card-setting();
    padding: .8rem;

    .image {
        position: relative;

        img {
            width: 100%;
            height: 12rem;
            margin-bottom: 1.5rem;
            object-fit: cover;
            border-radius: $card-border-radius;
            border: 1px solid $color-gray;
        }

        .card-course-tags {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-wrap: wrap;
            padding: .5rem;
            gap: .5rem;

            .item {
                padding: .2rem .65rem;
                border-radius: .65rem;
                background-color: $color-yellow;
                cursor: pointer;
                font-size: .8rem !important;
                font-weight: bold;
            }

            .item:nth-child(even) {
                background-color: $color-blue;
            }
        }
    }

    .body {
        h2 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: .9rem;
            line-height: 1.2rem;
            margin-bottom: 1.5rem;
        }

        .harga {
            font-size: 1.25rem;
            font-weight: bold;
            color: $color-yellow;

            del {
                font-size: 1rem;
                font-weight: normal;
                color: $color-gray-1;
                margin-right: .5rem;
            }
        }
    }

    .card-course-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;

        a:first-child {
            flex: 1;
        }
    }
}

.card-webinar {
    @include card-setting();
    padding: .8rem;

    .image img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-radius: $card-border-radius;
        border: 1px solid $color-gray;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .item-info {
        display: flex;
        gap: .2rem;
        margin-bottom: .5rem;
        align-items: center;
        color: $color-gray-1;

        i {
            min-width: 1.4rem;
        }

        p {
            font-size: .8rem;
            margin: 0;
        }
    }

    .harga {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
        font-weight: bolder;
        color: $color-yellow;
    }
}

.card-mentor {
    @include card-setting();
    padding: 2.5rem;

    .profile {
        text-align: center;
        margin-bottom: 1rem;
    }

    .profile img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
        margin: auto;
    }

    .info {
        text-align: center;
        margin-bottom: 1.6rem;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0.2rem;
            font-weight: bold;
        }

        p {
            font-size: 1rem;
            margin: 0;
        }
    }

    .star-container {
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h2 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .stars {
        --percent: calc(var(--rating) / 5 * 100%);

        display: inline-block;
        font-size: 2rem;
        font-family: Times; // make sure ★ appears correctly
        line-height: 1;

        &::before {
            content: '★★★★★';
            letter-spacing: 3px;
            background: linear-gradient(90deg, $color-star var(--percent), $color-white var(--percent));
            -webkit-background-clip: text;
            background-clip: $color-yellow;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px $color-star;
        }
    }

    .sosmed {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        margin-top: .8rem;
        align-items: center;
        font-size: 1.2rem;

        img {
            width: 1rem;
        }
    }
}

.text-primary-color {
    color: $color-primary;
}

// navbar
.navbar {
    padding-left: $padding-container;
    padding-right: $padding-container;
    font-size: 1rem;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-profile {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px .5px 4px 2.5px rgba(0, 0, 0, 0.1);
    }

    .dropdown-toggle::after {
        font-size: 1.5rem;
        vertical-align: .1rem;
    }

    .nav-btn-profile {
        border: none;
        padding: 0;
        background-color: $color-white;
    }

    .nav-item-profile {
        font-size: .8rem;
    }

    .nav-item-profile .dropdown-menu[data-bs-popper] {
        left: -100px;
    }

    .nav-btn-icon {
        border: none;
        background-color: $color-white;
        box-shadow: 0px .5px 2px .5px rgba(0, 0, 0, 0.1);
        border-radius: .5rem;
        padding: .3rem .6rem;
        position: relative;
    }

    .nav-btn-icon-amount {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px;
        width: 18px;
        background-color: $color-yellow;
        border-radius: 50%;
        color: $color-black;
        top: -5px;
        right: -5px;
        font-size: 10px;
        font-weight: bold;
    }

    .nav-item-icon .dropdown-menu[data-bs-popper] {
        right: 0;
        left: auto;
    }

    .nav-item-search .nav-btn-icon {
        color: $color-gray;
    }

    .nav-item-search {
        position: relative;

        .nav-search-input {
            position: relative;
            min-width: 20rem;

            input {
                padding-right: 25px;
            }

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                cursor: pointer;
            }
        }

        .dropdown-menu {
            right: 0;
            height: 20rem;
            padding-top: 0;
            font-size: .8rem;
            overflow-y: auto;
            // width: 25rem;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-gray-1;
                border-radius: 20px;
            }

            h5 {
                font-size: .8rem;
            }

            .ctg {
                color: $color-gray-1;
            }

            .search-item {
                display: flex;
                gap: 1rem;
                margin-bottom: .8rem;
            }

            .icon {
                img {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 10px;
                }
            }

            .desc {

                h5,
                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .nav-item-icon {
        .notifications {
            min-width: 25rem;
            min-height: 20rem;
            padding-top: 0;
            font-size: .8rem;

            h3 {
                font-size: 1.2rem;
                font-weight: bold;
            }

            .header {
                padding: .8rem .8rem;
                display: flex;
                justify-content: space-between;
            }

            .content {
                text-align: center;
                padding: 4rem 2rem
            }

            .notifications-baca {
                text-decoration: underline;
                color: $color-primary;
            }

            .notifications-list {
                .notif {
                    padding: {
                        top: .8rem;
                        bottom: 0rem;
                        left: .8rem;
                        right: .8rem;
                    }

                    &.unread {
                        background-color: $color-orange;
                    }

                    &:last-child {
                        a {
                            border-bottom: none;
                        }
                    }
                }

                a {
                    display: flex;
                    gap: .8rem;
                    border-bottom: 1px solid $color-gray;

                    .icon {
                        width: 3rem;

                        img {
                            width: 100%;
                        }
                    }

                    .item {
                        flex: 1;
                        padding-bottom: .8rem;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    &:hover {
                        color: $color-black;
                    }

                    span {
                        color: rgb(170, 170, 170);
                    }
                }
            }
        }
    }
}

// hero
#hero {
    min-height: 90vh;
    height: 100vh;
    text-align: right;

    .content-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: $padding-container;
        padding-right: $padding-container;
    }

    .content {
        text-align: left;

        h1 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.8rem;
            margin-bottom: 2.5rem;
        }
    }

    .image {
        height: 100%;
    }

    .image img {
        height: 100%;
    }
}

// why choose us
#why-choose-us {
    @include padding-container();
    background-color: $color-pink;

    h1 {
        @include title();
    }

    .no {
        font-weight: bolder;
        position: relative;

        h2 {
            position: absolute;
            margin-top: 0;
            right: 0;
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .no::after {
        content: ' ';
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--no-color);
        margin-right: 1.2rem;
        margin-top: .9rem;
        border-radius: 0px 1rem;
    }

    .item {
        display: flex;
        gap: 1rem;
    }

    .content h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        margin-top: 1.2rem;
    }

    p {
        line-height: 1.5rem;
    }
}

// choose course
#choose-course {
    @include padding-container();

    h1 {
        @include title();
    }

    .tags {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .item {
            &.active {
                font-weight: bold;

                a {
                    color: $color-black;
                }
            }

            a {
                color: $color-gray-1;
            }
        }
    }
}

// webinar
#webinar {
    @include padding-container();
    background-color: $color-pink;

    h1 {
        @include title();
    }

    .categories {
        display: flex;
        justify-content: center;
        gap: 1.2rem;
        margin-bottom: 3rem;

        a {
            text-decoration: none;
            font-size: 1rem;
        }

        .active {
            font-weight: bolder;
        }
    }
}

#mentor {
    @include padding-container();

    h1 {
        @include title();
    }

    #mentor-wrapper {
        padding: 2rem;
    }

    .slick-slide {
        padding: 2rem;
    }
}

// our partner
#our-partner {
    @include padding-container();
    margin-bottom: 3rem;
    background-color: $color-pink;

    h1 {
        @include title();
    }

    #our-partner-container {
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    .item {
        width: 20%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

// artikel
#artikel {
    @include padding-container();

    h1 {
        @include title();
    }

    .artikel-item {
        .image {
            position: relative;

            img {
                min-width: 10rem;
                width: 100%;
                height: 32rem;
                object-fit: cover;
                border-radius: 14px;
                border: 1px solid $color-gray;
            }

            .gradient {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgb(0, 43, 80);
                background: linear-gradient(0deg, rgba(0, 43, 80, 1) 0%, rgba(0, 43, 91, 1) 20%, rgba(255, 255, 255, 1) 100%);
                border-radius: 14px;
                opacity: 0.8;
            }

            .gradient.active{
                background: linear-gradient(0deg, rgba(0, 43, 80, 1) 0%, rgba(0, 43, 91, 1) 45%, rgba(255, 255, 255, 1) 100%);
            }

            .content {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 1rem;
                color: $color-white;

                h2 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: .85rem;
                    margin-bottom: 2rem;
                }

                span{
                    color: $color-white;
                    font-size: .85rem;
                }
            }
        }
    }
}

// testimoni
#testimoni {
    @include padding-container();
    padding-bottom: 6rem;

    h1 {
        @include title();
        margin-bottom: 4rem;
    }

    .testimoni-wrapper {
        position: relative;
        min-height: 30rem;

        .ornament1 {
            position: absolute;
            bottom: 5rem;
            left: 10rem;
        }

        .ornament2 {
            position: absolute;
            top: -5rem;
            right: 17rem;
        }
    }

    .testimoni-slick {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .slider {
        padding: 1rem;
    }

    .slick-list {
        padding-left: 0 !important;
    }

    .slick-arrow {
        top: 50%;
    }

    .slick-dots {
        width: auto;
        align-items: center;
        bottom: -2rem;
        right: 0;
        left: 0;
    }

    .slick-slide {
        padding: .5rem;
    }

    .slick-dots li button:before {
        font-size: .5rem;
    }

    .slick-prev {
        right: 0;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    .testimoni-container {
        display: flex !important;
        @include card-setting();
        width: 50%;

        img {
            width: 10rem;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: $card-border-radius;
            border-bottom-left-radius: $card-border-radius;
        }

        .content {
            padding: .8rem;
        }

        .title {
            font-size: .6rem;
        }

        .name {
            font-size: 1rem;
            font-weight: bolder;
            margin-bottom: .8rem;
        }

        .text {
            font-size: .85rem;
        }
    }
}

// footer
footer {
    display: flex;
    background-color: $color-pink;
    justify-content: center;
    padding-left: $padding-container;
    padding-right: $padding-container;
    padding-top: 3rem;
    padding-bottom: 2rem;
    gap: 4rem;
    font-size: 1rem;

    .item {
        max-width: 25%;
    }

    h2 {
        font-size: 1rem;
        margin-top: 0;
        font-weight: bold;
    }

    .footer-link {
        display: block;
        margin-bottom: 1rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .contact-item {
        display: flex;
        gap: .8rem;

        i {
            font-size: 1rem;
        }

        p {
            font-size: 1rem;
            margin: 0;
        }
    }

    .sosmed {
        display: flex;
        gap: 1rem;
        align-items: center;

        a {
            font-size: 1rem;
        }
    }
}