@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");
html {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", "sans-serif";
}

body {
  font-family: "Plus Jakarta Sans", "sans-serif";
}

button {
  border: none;
  font-family: "Plus Jakarta Sans", "sans-serif";
}

.main-container {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.app-btn {
  background-color: #164520;
  color: #ffffff;
  padding: 0.5rem 1rem;
  min-width: 110px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
}

.app-btn:hover {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.btn-full {
  width: 100%;
}

.form-control {
  font-family: "Plus Jakarta Sans", "sans-serif";
}
.form-control:focus {
  box-shadow: none;
  border-color: #164520;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

.error {
  font-weight: 400;
  font-size: 13px;
}

.btn {
  font-weight: 500;
}

.btn-primary {
  background-color: #164520 !important;
}

.page-flex {
  height: 100vh !important;
  gap: 10%;
}

.logo {
  position: relative;
  right: 12.5% !important;
}

.mw-290 {
  min-width: 290px;
}

#button {
  border: 0;
}
#button:disabled, #button.disable {
  background-color: #D3D3D3 !important;
  color: #248043 !important;
}
#button:active, #button.active {
  background-color: #248043 !important;
  color: #ffffff !important;
}
#button:hover, #button.hover {
  background-color: #164520 !important;
}

#googleButton {
  position: relative;
  display: flex;
  background-color: transparent !important;
  color: #1F1F1F !important;
  align-items: center;
  justify-content: center;
  height: 42px;
  border: 1px solid #9B9B9B !important;
}
#googleButton img {
  position: absolute;
  left: 0;
  height: 100%;
  width: auto;
}
#googleButton p {
  margin: 0;
}

form {
  width: 290px;
}
form .welcome-text {
  font-weight: 400;
}
form .sign-in-text {
  font-weight: 700;
  margin: 0 12px 0 0 !important;
  font-size: 20px;
}
form .info-text {
  font-weight: 400;
  font-size: 13px;
}
form #terms {
  height: 15px;
}
form .checkbox label.error {
  display: none !important;
}
form .form-label {
  font-weight: 500;
}
form input {
  font-weight: 400;
  border: 1px solid;
  border-color: #9B9B9B;
  border-radius: 7px;
  height: 40px;
  padding-left: 20px;
  font-size: 12px;
}
form input:focus-visible {
  border: 1px solid #248043;
  border-radius: 7px;
}
form #password,
form #password_confirm {
  border-radius: 7px 0 0 7px;
  width: 85%;
}
form #show-password,
form #show-confirm {
  border-radius: 0 7px 7px 0;
}
form .option .checkbox label {
  font-weight: 400;
  font-size: 11px !important;
  margin-left: 2px;
  height: 15px;
}
form .option a {
  font-weight: 400;
  font-size: 11px !important;
}
form .priv-pol {
  margin-top: 0 !important;
  text-align: start !important;
}
form .sign-up {
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  margin-top: 20px;
}
form .sign-up a {
  text-decoration: none;
  font-weight: 700;
  color: #164520;
}
form .horizontal {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #1f1f1f;
}
form .horizontal::before,
form .horizontal::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}
form .horizontal::after {
  margin-left: 10px;
}
form .horizontal::before {
  margin-right: 10px;
}

a {
  border: none !important;
  padding: 0% !important;
  width: auto;
  border-radius: 30px;
  background-color: transparent !important;
}
a img {
  height: 45px;
}

/*# sourceMappingURL=login.css.map */
