@import "_base";

body {
  background-color: #e8f9fd;
  overflow-x: hidden;
}

.page-flex {
  height: 100vh !important;
  gap: 10%;
}

.logo {
  position: absolute;
  right: 50px !important;
  top: 60px !important;
}

.mw-290 {
  min-width: 290px;
}

.active {
  background-color: $color-secondary !important;
  color: $color-white !important;
}

.disable {
  background-color: $color-gray-4 !important;
  color: $color-secondary !important;
}

form {
  .welcome-text {
    font-weight: 400;
  }

  .sign-in-text {
    font-weight: 700;
    margin: 0 12px 0 0 !important;
    font-size: 20px;
  }
  .info-text {
    font-weight: 400;
    font-size: 13px;
  }
  .form-label {
    font-weight: 500;
  }

  input {
    font-weight: 400;
    border: 1px solid;
    border-radius: 7px;
    height: 40px;
    padding-left: 20px;
    font-size: 12px;
    &:focus-visible {
      border: 1px solid $color-secondary;
      border-radius: 7px;
    }
  }

  .option {
    .checkbox {
      label {
        font-weight: 400;
        font-size: 11px !important;
        margin-left: 2px;
        height: 15px;
      }
    }
    a {
      font-weight: 400;
      font-size: 11px !important;
    }
  }
  .sign-up {
    font-weight: 300;
    font-size: 12px;
    margin-top: 20px !important;
  }
  .horizontal {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #1f1f1f;
  }

  // }
  .horizontal::before,
  .horizontal::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
  }
  .horizontal::after {
    margin-left: 10px;
  }
  .horizontal::before {
    margin-right: 10px;
  }
}

a {
  border: none !important;
  padding: 0% !important;
  width: auto;
  border-radius: 30px;
  background-color: transparent !important;
  img {
    width: 290px;
    height: 45px;
  }
}
